{% extends 'state/base.html' %}

{% block content %}
    
    {{car.number}}
    {{car.name}}
    {{car.remark}}

    <div id="google_map" style="width:100%; height:300px;"></div>

    <script>
        var map;
    
        function initialize() {
    
            var mapOptions = { //구글 맵 옵션 설정
                zoom : 16, //기본 확대율
                center : new google.maps.LatLng(37.5651, 126.98955), // 지도 중앙 위치
                scrollwheel : false, //마우스 휠로 확대 축소 사용 여부
                mapTypeControl : false //맵 타입 컨트롤 사용 여부
            };
    
            map = new google.maps.Map(document.getElementById('google_map'), mapOptions); //구글 맵을 사용할 타겟
            
            var image = 'https://cheolguso.com/img/iconimg.png'; //마커 이미지 설정
    
            var marker = new google.maps.Marker({ //마커 설정
                map : map,
                position : map.getCenter(), //마커 위치
                icon : image //마커 이미지
            });
    
            google.maps.event.addDomListener(window, "resize", function() { //리사이즈에 따른 마커 위치
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center); 
            });
    
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG7dBJVdhFNk8zP9V_d_CNg5jxkVNJoxc&callback=initialize" async defer></script>            
        
    {% for car in listcar %}
        <div class="post">
            <div class="date">
                <p>created: {{ car.created_date }}</p>
            </div>
            <h1>{{ car.number }}</h1>
            <p>{{ car.name | linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock %}    