{% extends 'state/base.html' %}

{% block content %}
    
    {{car.number}}
    {{car.name}}
    {{car.remark}}

    <div id="google_map" style="width:100%; height:300px;"></div>

    <script>
        var map;
    
        function initialize() {
    
            var mapOptions = { 
                zoom : 16,
                center : new google.maps.LatLng(37.5651, 126.98955), 
                scrollwheel : true, 
                mapTypeControl : false
            };
    
            map = new google.maps.Map(document.getElementById('google_map'), mapOptions); 
            
            var image = 'https://cheolguso.com/img/iconimg.png'; 
    
            var marker = new google.maps.Marker({ 
                map : map,
                position : map.getCenter(),
                icon : image
            });
    
            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center); 
            });
    
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_60dMlXEr9iaeq_00k-WRv6fi0viDu3M&callback=initialize" async defer></script>            

    {% for car in listcar %}
        <div class="post">
            <div class="date">
                <p>created: {{ car.created_date }}</p>
            </div>
            <h1>{{ car.number }}</h1>
            <p>{{ car.name | linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock %}    